.container{
  width: 800px;
  margin: 0 auto;
}
header{
  text-align: center;
}
#logo{
  width: 100px;
}
.nav_bar{
	background: black;
  text-align: center;
}
.nav_bar > a{
  margin-left: 10px;
  font-size: 24px;
  text-decoration: none;
  color: white;
  transition: background-color 1s;
}
.nav_bar a:hover{
  background-color: #fff;
  color: #000;
}
.banner{
  margin: 0 auto;
  margin-top: 10px;
}
.contato_form{
  margin-top: 10px;
  width: 300px;
}
.titulo{
  text-align: center;
}
.contato_form input{
  margin-right: 10px;
  float: right;
}
.contato_form input[type=submit]{
  float: none;
}
.cabecalho{
  top: 0px;
  width: 800px;
}
footer{
  bottom: 0px;
  width: 800px;
  padding-bottom: 10px;
  margin-top: 10px;
}
.home_article{
  width: 500px;
  padding-right: 50px;
}
.home_aside{
    padding-left: 50px;
    width:250px;
    float: right;
    display: block;
}
.news a{
  text-decoration: none;
}


#galeria {
  width: 600px;
  padding: 1em;
  margin: 0 auto;
  background-color: #eee;
}
#ampliacao {
  width: 300px;
  height: 300px;
  background-color: #ccc;
  margin: 0 auto;
}
#ampliacao img.fade{
  opacity: 0.5;
}
#ampliacao img {
  width: 300px;
  height: 300px;
}
#galeria nav {
  margin-top: 1em;
}
#galeria nav ul{
  list-style:none;
}
#galeria nav ul li{
  display:inline-block;
}
#galeria nav img {
  text-align: center;
  width: 80px;
  height: auto;
}
#miniaturas ul li a img{
  width: 100px;
  height: 100px;
}
